.sidenav-container {
    height: 100%;
}

.sideNav {
    width: 70px;
    background-color: #feffed;     
}

.list-itensMenu {
    margin-top: calc(25vh - 0px) !important;
}

.itensMenu {
    margin-left: -17px;
}

.logo {
    margin-top: 10px;
    height: 60px; 
    width: 60px;
}